.comment-container {
    font-family: '42dot Sans', serif;
    margin-top: 20px;
    padding: 15px;
    border-top: 1px solid #ddd;
}

/* 댓글 입력창 */
.comment-form {
    font-family: '42dot Sans', serif;
    margin: 15px;
    display: flex;
    align-items: center;
    background-color: #f8f9fa;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ddd;
}

.comment-form input {
    font-family: '42dot Sans', serif;
    flex: 1;
    padding: 8px;
    border: none;
    background-color: transparent;
    font-size: 15px;
    outline: none;
}

.comment-form input:focus {
    border-bottom: 1px solid #ef5c4e;
    /* border-bottom: 1px solid #007bff; */
}

/* 입력 버튼 (기본: 비활성화) */
.comment-form button {
    font-family: '42dot Sans', serif;
    margin-left: 10px;
    padding: 8px 12px;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.2s ease;
}

/* 입력 버튼: 비활성화 상태 */
.comment-form button:disabled {
    background-color: lightgray;
    cursor: not-allowed;
}

/* 입력 버튼: 활성화 상태 */
.comment-form button.active {
    background: #ef5c4e;
    /* background-color: #007bff; */
}

.comment-form button.active:hover {
    background: #ea2f1e;
}

/* 댓글 스타일 */
.comment {
    font-family: 'IBM Plex Sans KR', serif;
    padding: 10px;
    border-bottom: 1px solid #eee;
}

/* 댓글 헤더 */
.comment-header {
    display: flex;
    margin-bottom: 5px;
    align-items: center;
    width: 100%;
}

/* 프로필 이미지 */
.comment-profile-image {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

/* 작성자 이름 */
.comment-author {
    font-weight: bold;
    margin-right: 8px;
}

/* 날짜와 삭제 버튼을 한 줄에 정렬하고 삭제 버튼을 오른쪽 정렬 */
.comment-meta {
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    color: #6e6d7a;
}

/* 삭제 버튼 스타일 */
.delete-button {
    font-family: 'IBM Plex Sans KR', serif;
    background: none;
    border-radius: 7px;
    border: none;
    color: #6e6d7a;
    font-size: 12px;
    cursor: pointer;
    transition: color 0.2s ease, background-color 0.2s ease;
    margin-left: auto; /* 삭제 버튼을 오른쪽으로 정렬 */
}

.delete-button:hover {
    color: #0d0c22;
    background-color: rgba(246, 2, 2, 0.1);
    border-radius: 7px;
}
