.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}
.box {
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
    max-width: 400px; /* 최대 너비를 제한 */
}
.input-box {
    width: calc(100% - 20px); /* 좌우 10px의 여백을 제외한 너비 */
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; /* 패딩을 너비에 포함 */
}
.btn {
    width: calc(100% - 20px); /* 좌우 10px의 여백을 제외한 너비 */
    background: #ef5c4e;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-sizing: border-box; /* 패딩을 너비에 포함 */
}
.btn:hover {
    background: #d94a3c;
}
.error {
    color: red;
    margin-top: 10px;
}
