/* Base Layout */
.editor {
  display: flex;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background-color: #f8f9fa;
}

/* Canvas */
.canvas {
  flex: 1;
  position: relative;
  background: #f8f9fa;
  background-size: 20px 20px;
  user-select: none;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #bbb;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #999;
}

/* 저장버튼 */
.capture {
  position: absolute;
  left: 20px;  /* 왼쪽 20px */
  bottom: 20px;  /* 아래쪽 20px */
  background-color: #EF5C4E; /* 빨간색 */
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  animation: bounce 0.6s ease-in-out; /* 애니메이션 적용 */
}

.capture:hover {
  animation: bounce 0.6s ease-in-out; /* 호버 시 바운스 애니메이션 */
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-10px); /* 위로 튕기는 효과 */
  }
  50% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(-5px); /* 살짝 더 올라감 */
  }
  100% {
    transform: translateY(0);
  }
}