header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 23px 40px; 
  background-color: #fff;
  width: calc(100% - 80px); /* 패딩을 고려한 전체 너비 */
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

/* 로고 */
.left-nav {
  display: flex;
  align-items: center;
}

.logo-link {
  display: flex;
  align-items: center;
}

.logo {
  height: 30px; /* 기본 크기를 50px에서 40px로 줄임 */
  width: auto; /* 비율 유지 */
  transition: height 0.3s ease; /* 부드러운 크기 변화를 위한 전환 효과 */
}

/* 가운데 메뉴 */
.center-nav {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  /* flex: 1; */
  display: flex;
  justify-content: center;
  width: auto;
}

.center-nav ul {
  display: flex;
  list-style: none;
  gap: 40px;
}

.center-nav ul li a {
  font-family: 'Orbit', sans-serif;
  text-decoration: none;
  font-size: 20px;
  color: #333;
  padding: 8px 14px;
  border-radius: 5px;
  transition: transform 0.3s ease, color 0.3s ease;
  cursor: pointer;
  font-weight: bold;
}

.center-nav ul li a:hover {
  color: rgb(239, 69, 54);
}

/* 오른쪽 로그인 관련 메뉴 */
.right-nav {
  display: flex;
  justify-content: flex-end;
}

.right-nav ul {
  display: flex;
  list-style: none;
  align-items: center;
  gap: 15px;
}

.right-nav ul li a {
  font-family: 'Orbit', sans-serif;
  text-decoration: none;
  font-size: 12px;
  color: #444;
  background-color: rgba(0, 0, 0, 0.05);
  padding: 6px 15px;
  border-radius: 10px;
  font-weight: bold;
}

.right-nav ul li a:hover {
  color: black;
  background: rgba(0, 0, 0, 0.1);
}

/* 프로필 스타일 */
.profile {
  display: flex;
  align-items: center;
  gap: 10px;
  /* padding: 6px 14px; */
}

.profile-img {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}

.nickname {
  font-size: 15px;
  color: #2e1614;
  font-family: "42dot Sans", sans-serif;
  font-weight: bold;
}

/* 로그아웃 버튼 */
.logout a {
  color: #666;
}

/* 반응형 (태블릿, 모바일) */
@media (max-width: 1024px) {
  header {
    padding: 15px 40px;
  }

  .center-nav ul {
    gap: 20px;
  }

  .right-nav ul {
    gap: 10px;
  }

  .nickname {
    display: none; /* 작은 화면에서는 닉네임 숨김 */
  }

  .profile {
    padding: 6px;
  }
  .logo {
    height: 30px;
  }
}
